body {
  font-family:
    Encode Sans,
    sans-serif;
  background-color: #0b0c0f;
  color: #d2dbfd;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body uses full height */
  display: flex;
  flex-direction: column;
}

body {
  justify-content: space-between;
}

main {
  flex: 1; /* Makes the content area flexible to push footer down */
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 40vw;
  align-self: center;
  align-items: center;
  gap: 40px;
}

h2 {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #d2dbfd;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #b2c0e8;
}

.email-link,
.support-button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.email-link {
  background-color: rgba(40, 64, 136, 0.5);
  text-transform: uppercase;
}

.email-link:hover {
  background-color: #284088;
}

.commission-link {
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 1rem;
  background-color: rgba(255, 158, 74, 0.5);
  padding: 12px 20px;
  margin: 5px;
  border-radius: 5px;
  color: #d2dbfd;
}

.commission-link:hover {
  background-color: #ff9e4a;
}

.support-button {
  background-color: rgba(255, 158, 74, 0.5);
  text-transform: uppercase;
}

.support-button:hover {
  background-color: #ff9e4a;
}

.support-button i {
  font-size: 1rem;
  margin-right: 1rem;
}

@media (max-width: 1080px) {
  main {
    flex-direction: column;
    max-width: 80vw;
  }
}
