body {
  font-family: Encode Sans, sans-serif;
  background-color: #070b0b;
  color: #ebf1f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body uses full height */
  display: flex;
  flex-direction: column;
}

main video.showreel {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main video.showreel-mobile {
  display: none;
}

main {
  flex: 1; /* Makes the content area flexible to push footer down */
}

@media (max-width: 1080px) {
  main video.showreel {
    display: none;
  }
  main video.showreel-mobile {
    display: flex;
    max-height: 100vh;
  }
  main {
    display: flex;
    max-height: 100vh;
    align-self: center;
    align-items: center;
    overflow: hidden;
  }
}

@media (orientation: landscape) {
  main video.showreel {
    display: flex;
  }
  main video.showreel-mobile {
    display: none;
  }
}
